*{
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;    
}

/* FIRST SCREEN */
#home {
    display: block;
}

.title-screen{
    background-image: url(./images/ACOD_Minotaur.png);
    background-position: center top;
    background-size: cover;  
    height: 925px;
    width: 1325px;
    text-align: center;
    margin: auto;
}



#home > h1 {
    color: white;
    font-size: 75px;
    padding: 200px 0 500px 0;
}

#home > p {
    color: white;
    font-size: 30px;
}

/* SECOND SCREEN */
/* Title */
div > h2 {
    color: white;
    font-size: 75px;
    margin: 1px 0 50px 0;
}

.choose-text {
    font-size: 40px;
    margin: 0 0 25px 0;
}

.find {
    font-size: 20px;
    margin: 0 0 10px 0;
}


/* Player Select */
#player-select {
    display: none;
    background-color: #ccc;
    height: 925px;
    width: 1325px;
    margin: 0 auto;
}

.row-characters{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px 0;
    padding: 0 80px 0 80px;
    font-size: 22px;
}

.char {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(233, 150, 122, .8);
    border: rgb(220, 20 ,60);
    border-radius: 10px;
    box-shadow: 6px 5px 28px -20px rgba(0, 0, 0, 0.75);
}

.char2 {
}

.hero-image {
    margin: 25px 0 0 0;

}

.img-char {
    padding: 0 0 15px 0;
}

.char:hover, .active {
    filter: brightness(130%);
    box-shadow: inset 6px 5px 28px -15px rgba(0, 0, 0, 0.75)
}

.img-char{
    width: 100%;
}

/* Choose Players */

.choose-player{
    width: 50%;
    margin: 25px 0 25px 0;
}

h3 {
    font-size: 32px;
    margin: 0 0 10px 0;
}

.info{
    font-size: 20px;
}

.col-players{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.player1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 30px;
    font-size: 28px;
}

.player2{
    width: 50%;
    height: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
}

.row-players {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1325px;
}

.start {
    width: 1000px;
    margin: 40px auto;
    height: 70px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}


/* THIRD SCREEN */
#canvas-lab{
    display: none;
}

#labyrinth {
    background-image: url(./images/stone-background.jpg);
    background-position: center top;
    background-size: cover;
}

/* GAME OVER */
#game-over{
    display: none;
}

.game-over {
    width: 1325px;
    height: 925px;
}


/* GAME WON */
#game-won{
    display: none;
  
}

.game-won{
    background-image: url(./images/treasure.jpg);
    background-position: center top;
    background-size: cover;
    width: 1325px;
    height: 925px;
    margin: auto;

}

h6{
    color: white;
    font-size: 70px;
    padding-top: 300px;
}

